.example-app-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  max-width: 700px;
}

.calendar-box {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  min-width: 300px;
  min-height: 500px;
}

.backdrop .backdrop-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
