.App {
  font-family: sans-serif;
  text-align: center;
  box-sizing: border-box;
  width: fit-content;
  margin: 0 auto;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

@media only screen and (max-width: 600px) {
  .App {
    width: auto;
  }
}

@media only screen and (min-width: 1300px) {
  .calendar {
    width: 28rem;
  }
}

@media only screen and (min-width: 650px) and (max-width: 1299px) {
  .calendar {
    width: 25rem;
  }
}

.calendar {
  height: 500px;
  background-color: white;
  box-shadow: 1px 4px 4px gray;
  box-sizing: border-box;
}

.header {
  display: flex;
  padding: 1em;
  background: #306c34;
  color: #fafafa;
  flex-wrap: wrap;
}

.header-container {
  display: flex;
}

.full-width {
  width: 100%;
}

.header-item {
  flex-grow: 1;
}

.header-item-grow-2 {
  flex-grow: 2;
}

.header-item-align-left {
  text-align: left;
}

.header-year {
  font-weight: 500;
  font-size: 1em;
}

.header-date {
  font-size: 2rem;
  font-family: Roboto;
}

.margin-item {
  margin: 0.5rem 0.5rem;
}

.flex-grow-1 {
  flex-grow: 1;
}

.footer-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem;
}

.button {
  background: transparent;
  color: #306c34;
  border: none;
}
